__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

.ipynb_checkpoints/
*.ipynb

venv/
env/
.env

bronze/
silver/
gold/
*.parquet
*.csv
*.json
*.avro

*.log
*.pid
docker-compose.override.yml

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
